@model Entity.DTO.ViewModels.AddUserViewModel
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @await Html.PartialAsync("_NotificationPartial")
}



<div class="card">
    <div class="card-body">
   
        <form method="post" asp-controller="Admin" asp-action="AddUser">
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.Name" placeholder="Name">

                </div>
                <div class="col-md-4">
                    <label for="exampleInputEmail1">Surname</label>
                    <input type="text" asp-for="Surname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.Surname" placeholder="Surname">

                </div>
                <div class="col-md-4">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1" value="@Model.Password" placeholder="Password">
                </div>
                <div class="col-md-4">
                    <label for="exampleInputPassword1">Register Number</label>
                    <input type="text" asp-for="RegisterNumber" class="form-control" id="exampleInputPassword1" value="@Model.RegisterNumber" placeholder="Register Number">
                </div>
                <div class="col-md-4">
                    <label for="exampleInputPassword1">Identity Number</label>
                    <input type="text" asp-for="IdentityNumber" class="form-control" id="exampleInputPassword1" value="@Model.IdentityNumber" placeholder="Register Number">
                </div>
                <div class="col-md-4">
                    <label for="exampleInputPassword1">Identity Number</label>
                    <input type="text" asp-for="IdentityNumber" class="form-control" id="exampleInputPassword1" value="@Model.IdentityNumber" placeholder="Register Number">
                </div>
                <div class="col-md-4">
                    <label for="exampleInputPassword1">Job Start Date</label>
                    <input type="date" asp-for="JobStartDate" class="form-control" id="exampleInputPassword1" value="@Model.JobStartDate" placeholder="Job Start Date">
                </div>
                <div class="col-md-4">
                    <label for="exampleInputPassword1">Phone Number</label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" id="exampleInputPassword1" value="@Model.PhoneNumber" placeholder="Phone Number">
                </div>

            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>